@media only screen and (max-width: 1280px){
    #main .container{
        width: 100%;
    }
    .main_content_text{
        margin-top: 0;
    }
    #why_us{
        background-image: none;
    }
    #why_us .row .col.l6{
        width: 70%;
    }
    #why_us .row .col.push-l1{
        left: 12.333333%;
    }
    .why_us_title{
        text-align: center;
    }
}