
@font-face{

    font-family: 'MuseoSansCyrl-500';
    src: url('../fonts/museo/MuseoSansCyrl-500.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

html, body{ font-family: MuseoSansCyrl-500, sans-serif; background-color: #fff}
.no-mar-bottom{ margin-bottom: 0}
/*.container{ max-width: 1450px; width: 85%}*/
._section_title{ font-size: 2em; text-align: center}
._block_title{ font-size: 1.5em; font-weight: bold; line-height: 1.2; color: #000}
._block_desc{ font-size: 1.1em; line-height: 1.2; color: #9b98a3}

/*********** MAIN ***************/
header .header_align{ display: table; height: 120px}
header .logo{ display: table-cell; vertical-align: middle;}
header .logo a{ color: #000000}
header .logo img{ vertical-align: middle; max-width: 100%; height: auto; }

header .header_menu{ display: table-cell; vertical-align: middle;}
header .header_menu hr{ margin: 0.5em 1em}

header nav{ position: relative; margin: 0 auto; background-color: transparent; box-shadow: none;}
header ul{ padding-left: 0}
header ul li{ display: inline-block; }
header ul li:last-child{ float: right }
header ul li a{ display: inline-block; height: 100%; padding: 0 1em; }
header ul li a:hover{ text-decoration: none }

header nav.top_navbar{ height: 36px; line-height: 36px; }
header ul.navbar_links_top li span{ color: #bfbbc6; font-size: 1em; padding: 0 1em; }
header ul.navbar_links_top li a{ color: #898198; font-size: 1em; }
header ul.navbar_links_top li a img{ margin-right: 5px }
header ul.navbar_links_top li.active{ background-color: transparent}

header nav.main_navbar{ height: 48px; line-height: 48px; }
header ul.navbar_links_main li a{ color: #000000; font-size: 1.2em; font-weight: bold; }
header ul.navbar_links_main li.active{ background-color: transparent}

#main{ background: url("../img/why_us/why_us_bg.png"); padding: 50px 0}
#advantages{ padding: 50px 0}
#calc{ background: linear-gradient(90deg,#884895, #ea2e5c, #fc8a26); padding: 50px 0}
#calc .custom-control-label::before{ width: 1.2rem; height: 1.2rem}
#calc .custom-control-label::after{ width: 1.2rem; height: 1.2rem}
#calc .custom-radio .custom-control-input:checked~.custom-control-label::before{ background-color: orange;}
#calc .custom-radio .custom-control-input:checked~.custom-control-label::after{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")}

#calc .number-control{ position: relative; display: block; overflow: hidden; text-align: center; }
#calc .number-control_button{ width: 24px; height: 24px; position: absolute; padding: 0; font-weight: bold; border-radius: 50%; top: 0; border: 1px solid #e4e4e4; background-color: #fff}
#calc .number-control_button:focus{ background-color: orange; color: #fff; }
#calc .number-control_button:hover{ cursor: pointer}
#calc .number-control_button_minus{ left: 0; }
#calc .number-control_button_plus{ right: 0; }


.main_content_img{ max-width: 100%; height: auto; vertical-align: middle}
.main_content_text{ margin-top: 50px}
._title{ font-family: Phenomena-Regular, sans-serif; font-weight: bold; color: #1b1b1b; line-height: 85%}
.main_content_title{ font-size: 3.8em;}
._sub_desc{ font-size: 1.5em; color: #1b1b1b; line-height: 1.3}
.main_content_subtitle{ margin: 30px 0}
._button{ display: inline-block; font-size: 1.3em; color: #fff; text-align: center; height: auto; line-height: 1; padding: 1em 4em; border-radius: 8px; background: linear-gradient(90deg,#886db0,#7053a3)}
._button:hover{ background: linear-gradient(90deg,#a593cd,#866faf);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);)}

.main_offer{ position: absolute; left: 0; bottom: 0; width: 100%; background-color: rgba(175,212,237,0.8); padding: 50px 0; }
.main_offer .input-field{ margin: 0}
.main_offer input{ font-size: 1.3em; padding: 17px; width: 250px; border-style: none; border-radius: 6px; outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);}
.main_offer_button{ padding: 0.475em 4em;}

#why_us{ background-image: url("../img/why_us/why_us_bg.png"); background-color: #f1f0ec; color: #1b1b1b; line-height: 1.2; padding: 43px 0}
.why_us_title{ font-size: 2.8em; padding: 50px 0}

.why_us_point{ display: inline-block; width: 100%; margin-bottom: 20px}
.why_us_point_title{ font-size: 1.5em; font-weight: bold; margin-bottom: 5px}
.why_us_point_desc{ font-size: 1.1em;}

.insurance_title{ font-size: 2.8em; margin-top: 50px}
.insurance_subtitle{ margin: 30px 0}

.insurance_middle{ position: relative; background-image: url("../img/insurance/insurance_bg.png"); padding: 4em 0}
.insurance_point_all{ padding: 5em 0}
._table_align{ display: table; height: inherit;}
._table_align_cell{ display: table-cell; vertical-align: middle}
.insurance_point{ margin-bottom: 30px}
.insurance_point:last-child{ margin-bottom: 0}
.insurance_point_cell img{ margin-right: 10px; vertical-align: middle}

.insurance_company{ margin: 0 auto; padding: 20px 0 50px}
.insurance_company_image img{ margin-right: 20px}
.insurance_company_desc{ font-size: 1.5em; color: #ef3528; line-height: 1.2}

#price{ background: linear-gradient(90deg,#8ad8ea,#99e4da) #8ad8ea; padding: 50px 0; text-align: center}
.price_title{ font-size: 3.8em; line-height: 1.2; margin-bottom: 40px}

#team{ background-color: #fff; padding: 50px 0; text-align: center}
.team_title{ font-size: 2.8em; margin: 50px 0}
.team_crew img{ margin-right: 30px}
.team_crew img:last-child{ margin-right: 0}
.team_all{ margin-top: 40px}
.team_all a{ font-size: 1.5em; color: #ef3528; border-bottom: 3px solid #ef3528}

#faq{ background: linear-gradient(90deg,#ef8dc5,#fcaaa2) #ef8dc5; padding: 50px 0;}
.faq_title{ font-size: 2.8em; text-align: center; color: #1b1b1b}
.faq_questions{ display: inline-block; width: 100%; margin-bottom: 50px}
.faq_questions ul{ box-shadow: none; color: #1b1b1b; border: none; margin: 50px 0}
.faq_questions ul li{
    border-bottom: 3px solid #feae9e;
/*    -moz-border-image: -moz-linear-gradient(left, #ff1f52  0%, #ff5e53 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #ff1f52  0%, #ff5e53 100%);
    border-image: linear-gradient(to right, #ff1f52  0%, #ff5e53 100%);*/
}
.faq_questions ul li.active i{ transform: rotate(180deg); transition: 300ms}
.faq_questions .collapsible-header{ font-size: 1.5em; line-height: 1.2; background-color: transparent; outline: none; border-bottom: none; padding: 0.5em 2em 0.5em 4em}
.faq_questions .collapsible-header i{ width: 1.6em; font-size: 1.6em; margin-right: 0; transition: 300ms}
.faq_questions .collapsible-body{ border-bottom: none; padding: 0.5em 3em 0.5em 6em}

.faq_questions a{ font-size: 1.5em; color: #1b1b1b; border-bottom: 3px solid #feae9e; margin-left: 6em}

#order{ background-color: #fff}
#order img{ max-width: 100%; height: auto; vertical-align: middle; margin-top: -50px}
.order_content{ margin-top: 6em}
.order_title{ font-size: 2.8em}
.order_button{ margin-left: 50px; margin-top: 40px}

#footer{ position: relative; background-image: url("../img/footer_bg.png"); padding: 50px 0; margin-top: -30px}
.footer_point{ margin-bottom: 10px}
.footer_address_title{ font-size: 1.5em; font-weight: bold; color: #1b1b1b; line-height: 1.2;}
.footer_address_desc{ font-size: 1.1em; color: #1b1b1b; line-height: 1.2;}
.footer_icon{ margin: 30px 0}